# ==============================================================================
# VARIABLES DE ENTORNO PARA DOCKER COMPOSE
# Renombra este archivo a .env y llena los valores adecuados.
# ==============================================================================

# Variables de clonación de repositorio (opcional, si aplica)
GIT_REPO=github.com/usuario/repo.git
GIT_USER=usuario_github
GIT_TOKEN=token_personal_de_acceso

# Configuración de base de datos SQL Server
DB_CONNECTION_STRING=Server=172.29.99.8;Database=PERFILES_BD;User Id=TU_USUARIO;Password=TU_PASSWORD_AQUI;TrustServerCertificate=True;MultipleActiveResultSets=true;

# Llave secreta para generación de tokens JWT
JWT_SECRET_KEY=TU_SECRETO_JWT_AQUI

# Puertos expuestos al host
API_PORT=5000
FRONTEND_PORT=4200
